@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("buttons.css");
       
       *{box-sizing: border-box;}
        html {scroll-behavior: smooth;}
        main{margin-top: 50px;}

        body{
            margin: 0;

        }

        .main-header{
            background-color: #FC997C;
            padding: 10px 16px;
            
        }

        .main-nav{
            display: inline-block;
            width: calc(100% - 230px);
            text-align: right;

        }

        .main-nav__items{
            list-style: none;
            padding: 0px;
            margin: 0px;
        }

        .main-nav__item{
            display: inline-block;
            margin: 0px 10px;
        }

        .main-nav__item a{
            color: white;
            text-decoration: none;
        }

        .main-header__logo{
            color: white;
            text-decoration: none;
            font-size: 20px;
            font-style: italic;
        }

        .main-nav__item a::before{
            content: '\2022';
            padding: 0px 5px;
        }

        .main-nav__item--login a::before{
            content: none;
        }

        .fixed_logo{
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1;
        }

        #showcase{
            background:
            linear-gradient(to bottom, rgba(252,153,124,0.2) , rgba(250,81,30,0.2)),
            url('../img/usarmy.jpg');  
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            height: 88vh;
            width: 100%;
            position: relative;
        }

        #showcase .content{
            color: white;
            font-size: 30px;
            background-color: #0030614f;
            width: 60%;
            padding: 20px;
            border-radius: 1px;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        #how-it-works{
            padding: 10px;
            text-align: center;
            width: 100%;
        }

        #how-it-works h2{
            color: #3e4555;
            font-size: 30px;
            font-weight: 600;
        }

        .row{
            margin-top: 40px;
        }
        .row::after{
            display: block;
            content: "";
            clear: both;
        }

        .col-4{
            float: left;
            width: 25%;
        }

        .col-3{
            float: left;
            width: 33.3%;
        }

        .col-2{
            float: left;
            width: 50%;
        }

        .icon-box h3{
            color: #3e4555;
            font-size: 26px;
        }

        .icon-box i{
            color: #FC997C;
        }

        .features_left{
            background: 
            linear-gradient(to bottom, #0030614f , #00306156),
            url("../img/DENEME.jpg");
            background-size: cover;
            background-position: center;
                         background-color: #CBDCEB;
        }

        .features_right{
            vertical-align: top;
            padding: 20px;
                         background-color: #CBDCEB;
        }

        .features_left,
        .features_right{
            height: 350px;
        }

        .features_right h3{
            font-size: 30px;
        }

        #purchases{
            text-decoration: none;
        }
        #purchases h2{
            text-align: center;
        }
        .purchase{
            padding: 5px;
            text-align: center;
        }

        .plan__futures{
            list-style: none;
            margin: 0px;
            padding: 0px;
            text-align: center;
        }

        .plan__futures li{
            list-style-type: none;
            margin-bottom: 8px;
        }

        .purchase__badge{
            background-color: white;
            color: #FC997C;
            padding: 8px;
            border-radius: 5px;
        }

        .recommended_plan{
            background-color: #003161!important;
            color: white;
        }

        .inner-plan{
            padding: 25px 10px;
            background-color: #edf5f7;
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }

        .inner-plan:hover{
            box-shadow: rgba(50, 50, 93, 0.6) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            transition-duration: 0.6s;
        }

        .clearfix::after{
            display: block;
            content: "";
            clear: both;
        }

        .container{
            margin: 0 auto;
            width: 1000px;
        }

        #backtotop{
            position: fixed;
            bottom: 10px;
            right: 10px;
        }

        #backtotop i{
            background-color: #013c77;
            color: white;
            border-radius: 25px;
            font-size: 40px;
            padding: 5px;
        }

        #backtotop i:hover{
            background-color: hsl(211, 72%, 29%);
        }

        .counter{
            background: linear-gradient(to bottom, #fc997c 0%, #fc8b69 100%);
            text-align: center;
            padding: 50px;
        }

        .counter h4{
            margin: 0;
            color: white;
        }

        .counter__item{
            font-size: 30px;
            font-weight: 500;
            color: #fff;
        }

        .section-tittle{
            font-size: 30px;
            font-weight: 600;
            color: #3e4555;
            text-align: center;
        }

        .book-container{
            padding: 10px;
        }

        .book{
            background-color: #fff;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 10px 10px 40px rgba(52, 58, 64, 0.1);
            position: relative;
            top: 0;
            transition: all .3s;
        }
        .book:hover{
            top: -10px;
        }
        
        .book-body{
            padding: 10px;
        }

        .img-fluid{
            width: 100%;
        }

        .book-image{
            max-height: 350px;
        }

        footer{
            background-color: #003161;
            padding: 30px;
            margin-top: 30px;
        }

        footer a{
            color: white;
            font-size: 18px;
            text-decoration: none;
        }

        footer ul{
            margin: 0;
            padding: 0;
        }

        footer ul li{
            list-style-type: none;
            display: inline-block;
            margin-left: 5px;
        }

        .social-links{
            text-align: right;
            
        }
        .fab{
            padding: 10px;
            font-size: 25px;
            border-radius: 50%;
            width: 45px;
        }

        .fab:hover{
            opacity: 0.7;
        }

        .fa-twitter{
            background-color: #0084b4;
        }
        .fa-facebook{
            background-color: #3b5998;
        }
        .fa-instagram{
            background-color: #C13584;
        }